.container {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .row {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    gap: 20px;
    padding: 5px 15px;
    strong {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
    }
    svg {
      width: 25px;
      height: 25px;
    }
    transition: filter 0.2s;
    &:hover {
      filter: brightness(0.7);
    }
  }
}
