.mediaControllers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .columnPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}
